<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
metadata-complete="false"
version="3.1">

<servlet>
<servlet-name>Main</servlet-name>
<servlet-class>kojsmn.Quiz</servlet-class>
</servlet>

<servlet>
<servlet-name>Story1</servlet-name>
<servlet-class>kojsmn.Story1</servlet-class>
</servlet>

<servlet>
<servlet-name>Story2</servlet-name>
<servlet-class>kojsmn.Story2</servlet-class>
</servlet>

<servlet>
<servlet-name>Story3</servlet-name>
<servlet-class>kojsmn.Story3</servlet-class>
</servlet>

<servlet>
<servlet-name>Story4</servlet-name>
<servlet-class>kojsmn.Story4</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Main</servlet-name>
<url-pattern>/servlet/</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Story1</servlet-name>
<url-pattern>/servlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Story2</servlet-name>
<url-pattern>/servlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Story3</servlet-name>
<url-pattern>/servlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Story4</servlet-name>
<url-pattern>/servlet/*</url-pattern>
</servlet-mapping>



		     </web-app>
